JUP_API_KEY=c617949d-d2c3-4b95-8774-ee48af10d390
JUP_ULTRA_API_BASE_URL=https://api.jup.ag/ultra/v1
SOLANA_RPC_ENDPOINT=https://api.mainnet-beta.solana.com
NEXT_PUBLIC_SOLANA_RPC_ENDPOINT=https://solana-rpc.publicnode.com
